name: Java CI

on:
  push:
    branches: [ gluon ]
  pull_request:
    branches: [ gluon ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: 'Download OpenJDK'
      run: |
        wget --no-verbose \
          --directory-prefix ${{ runner.temp }} \
          https://download.java.net/java/GA/jdk17/0d483333a00540d886896bac774ff48b/35/GPL/openjdk-17_linux-x64_bin.tar.gz
    - name: Setup java
      uses: actions/setup-java@v2
      with:
        java-version: ${{ env.JAVA_VERSION }}
        distribution: jdkfile
        jdkFile: ${{ runner.temp }}/openjdk-${{ env.JAVA_VERSION }}_linux-x64_bin.tar.gz
    - name: Build with Maven
      run: mvn clean install
